body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: linear-gradient(90deg, rgba(246,255,173,1) 0%,
     rgba(229,187,232,1) 100%);
  }


ul { 
    margin: 0 auto; /*150px */
    padding: 0; 
    list-style: none; 
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;
  }
  li { 
    position: relative; 
    padding: 20px 0;
    margin: 15px;
  }
  a {
    background: -webkit-linear-gradient(#38084e, rgb(170, 170, 170));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

#seccion-random {
    width: 235px;
    height: 285px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgRandom {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    padding: 10px;
    width: 200px;
    height: 200px;
  }

  #seccion-raza {
    display: flex;
    justify-content:center;
  }

  #input-id {
    border: none;
    border-radius: 5px 0 0 5px;
    width: 250px;
  }

  #input-id:focus {
    outline: none;
  }

  #search {
    border: none;
    background-color: rgb(173, 91, 173);
    padding: 8px;
    border-radius: 0 5px 5px 0;
    color: white;
  }

  #search:hover {
    cursor: pointer;
  }

  #search:focus {
    outline: none;
    box-shadow: inset 3px 3px #3333;
    background-color: rgb(114, 66, 114);
  }

  tr {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    max-width: 40%;
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px; 
    background-color: whitesmoke;
  }

  .titulo {
    color: rgb(71, 71, 71);
    padding: 8px;
  }

  td {
    font-weight: normal;
    padding-top: 3px;
  }